<div>
  <div class="agency-about-hero">
    <section class="container">
      <div class="row">
        <div class="hero-text">
          <p class="customFadeInUp">
            "RubyKube stays on top of cutting edge technology. We love open source. We customize, modify and commit improvements across a number of popular open source products. We don’t stop at good enough, but aim for perfection!"
          </p>
          <h3>
            ©Louis Bellet
          </h3>
        </div>
      </div>
    </section>
  </div>

  <div class="agency-about-text">
    <div class="container">
      <h4>
        Great Products
      </h4>
      <hr>
      <h3>
        What sets us apart? Our experience and constant desire to be in tune with the newest technologies. We experiment while learning and adapt as we share our experience across projects with our clients. Adventures in expanding our knowledge base and offering full scale technological solutions for our client is one of our biggest motivating factors for developing to meet and exceed customer expectations.
      </h3>
      <h4>
        Transparency & Communication
      </h4>
      <hr>
      <h3>
        Transparency is the cornerstone of relationships with our clients. Patience, communication and attentive listening had tremendous effect on the success of RubyKube. We apply these practices to our day to day with our clients to achieve successful results time after time.
      </h3>
      <h4>
        Lean Mindset
      </h4>
      <hr>
      <h3>
        We focus on eliminating waste along the entire value stream, instead of isolated points. RubyKube creates processes that need less human effort, less storage space and less capital. Our goal is to make products and services that respond to the changing customer demands with high quality, low cost, faster output times, simplified and accurate management.
Seeking Perfection
      </h3>
      <h4>
        Partners & Friends
      </h4>
      <hr>
      <h3>
        Building a long term relationships on trust and understanding. Most of our long term partner are our friends and we often feel as if we are building a business together. Together we set and reach our goals. Our clients trust us for guidance and quality advice when it comes to technology, giving them the freedom to focus on their core business.
      </h3>
    </div>
  </div>

  <div class="agency-about-cta">
    <div class="container">
      <h3>
        Want to work with us?
      </h3>

      <p>
        Have an idea for an awesome project? We'd love <br> to help make it real.
        <a href="#">Get in touch</a>
      </p>
    </div>
  </div>

  <div class="agency-about-clients" style="margin-bottom: 70px">
    <div class="container">
      <header>
        <h4>Companies we've worked with</h4>
      </header>
      <img src="../assets/images/clients.jpg" class="img-fluid" />
    </div>
  </div>
</div>
