<div>
  <div>
    <div class="agency-about-hero">
      <section class="container">
        <div class="row">
          <div class="hero-text">
            <p class="customFadeInUp">
              We believe in simple and efficient ways to grow a business by being smart, relevant and most importantly straightforward.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="blog-posts-grid">
    <div class="container">
      <div class="post">
        <div class="bg" style="background-image:url(${require('../../node_modules/theme-corporate/images/unsplash/photo-1467659226669-a1360d97be2d.jpg')});">
        </div>
        <a href="/blogpost" class="info">
          <span class="title">How to get the most out of San Francisco</span>
          <span class="author">John Williams</span>
          <span class="date">13 May, 2014</span>
        </a>
      </div>
      <div class="post">
        <div class="bg" style="background-image:url(${require('../../node_modules/theme-corporate/images/unsplash/photo-2.jpg')});">
        </div>
        <a href="/blogpost" class="info">
          <span class="title">Work on the things you love</span>
          <span class="author">Ana Beckham</span>
          <span class="date">22 Apr, 2014</span>
        </a>
      </div>
      <div class="post">
        <div class="bg" style="background-image:url(${require('../../node_modules/theme-corporate/images/unsplash/photo-1472132858735-6313c7962473.jpg')});">
        </div>
        <a href="/blogpost" class="info">
          <span class="title">Top 10 reasons to learn design</span>
          <span class="author">John Williams</span>
          <span class="date">21 Sep, 2014</span>
        </a>
      </div>
      <div class="post">
        <div class="bg" style="background-image:url(${require('../../node_modules/theme-corporate/images/unsplash/photo-1475483768296-6163e08872a1.jpg')});">
        </div>
        <a href="/blogpost" class="info">
          <span class="title">How to travel around the world</span>
          <span class="author">John Williams</span>
          <span class="date">03 June, 2014</span>
        </a>
      </div>
      <div class="post">
        <div class="bg" style="background-image:url(${require('../../node_modules/theme-corporate/images/unsplash/photo-1424873380396-9580028d74db.jpg')});">
        </div>
        <a href="/blogpost" class="info">
          <span class="title">Best cultures around the world</span>
          <span class="author">John Williams</span>
          <span class="date">13 Aug, 2014</span>
        </a>
      </div>
      <div class="post">
        <div class="bg" style="background-image:url(${require('../../node_modules/theme-corporate/images/unsplash/photo-1454942901704-3c44c11b2ad1.jpg')});">
        </div>
        <a href="/blogpost" class="info">
          <span class="title">Top 10 places you should go before you die</span>
          <span class="author">John Williams</span>
          <span class="date">15 Nov, 2014</span>
        </a>
      </div>
      <div class="post">
        <div class="bg" style="background-image:url(${require('../../node_modules/theme-corporate/images/unsplash/photo-1474776918080-edb12cc483de.jpg')});">
        </div>
        <a href="/blogpost" class="info">
          <span class="title">Become a professional photographer</span>
          <span class="author">John Williams</span>
          <span class="date">11 Jul, 2014</span>
        </a>
      </div>
      <div class="post">
        <div class="bg" style="background-image:url(${require('../../node_modules/theme-corporate/images/unsplash/photo-1478059425650-ca13d6d422f4.jpg')});">
        </div>
        <a href="/blogpost" class="info">
          <span class="title">Get inspired by nature</span>
          <span class="author">John Williams</span>
          <span class="date">04 May, 2014</span>
        </a>
      </div>
    </div>
  </div>
</div>
